{% extends "base.html" %}

{% block title %}Condomínios{% endblock %}

{% block content %}
  <br><br>
  <div class="container">
    <br>
    <h1 align="center">Lista de Condomínios</h1>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Endereco</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for cond in condominio %}
            <tr>
                <th scope="row">{{ cond.id }}</th>
                <td>{{ cond.nome }}</td>
                <td>{{ cond.endereco }}</td>
                <td>{{ cond.estado }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock %}
